/*-------FONT GOOGLE-------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/*-------VARIABEL CSS-------*/
:root {
    --header-height: 3.5rem;

    /*------- WARNA -------*/
    /* Mode warna menggunakan HSL */
    --first-color: hsl(4, 100%, 32%);
    --first-color-alt: hsl(4, 100%, 43%);
    --text-color: hsl(0, 0%, 42%);
    --text-color-lighten: hsla(0, 0%, 92%, 0.267);
    --black-color: hsl(0, 0%, 8%);
    --white-color: hsl(0, 0%, 98%);
    --body-color: hsl(244, 84%, 10%);
    --body-second-color: hsl(226, 56%, 37%);
    --shadow-img: -8px 8px 16px hsla(0, 0%, 0%, 0.2);

    /*--------- Font dan typografi ------------*/
    --body-font: "Montserrat", sans-serif;
    --biggest-font-size: 4.5rem;
    --big-font-size: 4.5rem;
    --big-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*----------Font Weight ------------*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;

    /*----------- z index ------------*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*----------- Mobile Resposive --------*/
@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 10.5rem;
        --big-font-size: 5.5rem;
        --h1-font-size: 3rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*-------BASE CSS --------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--black-color);
}

input,
button {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4 {
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
}

/*-------TAG HTML UNTUK DI CSS---------*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section__title,
.section__subtitle {
    text-align: center;
}

.section__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-extra-bold);
    color: var(--white-color);
    margin-bottom: 4rem;
}

.section__subtitle {
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.main {
    overflow: hidden;
}

/*---------- HEADER & NAVIGASI ----------*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: background-color 0.4s, box-shadow 0.4s;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--white-color);
    font-weight: var(--font-bold);
}

.nav__toggle,
.nav__close {
    display: inline-flex;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--white-color);
}

/* Navigasi untuk versi mobile */
@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        top: -120%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        padding-block: 4rem;
        box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.1);
        transition: top 0.4s;
    }
}

.nav__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.nav__link {
    position: relative;
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
}

.nav__link::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--body-second-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width 0.4s;
}

.nav__link:hover::after {
    width: 60%;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;

}

/* Menampilkan menu */
.show-menu {
    top: 0;
}

/* Pergantian background header */
.bg-header {
    background-color: var(--body-color);
    box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.1);
}

/* Aktivasi link */
.active-link::after {
    width: 60%;
}

/*---------- Bagian HOME -----------*/
.home {
    position: relative;
    height: 730px;
}

.home__bg,
.home__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home__bg {
    object-fit: cover;
    object-position: center;
    filter: blur(0px);
}

.home__gradient {
    background: linear-gradient(180deg, hsla(25, 70%, 55%, 0) 80%, hsl(4, 100%, 32%)100%);
}

.home__data {
    position: absolute;
    top: 17rem;
    justify-self: center;
    text-align: center;
}

.home__subtitle {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    letter-spacing: 2px;
    margin-bottom: 0.25rem;
    color: var(--white-color);
}

.home__title {
    font-size: var(--big-font-size);
    font-weight: var(--font-extra-bold);
    letter-spacing: 2px;
    color: var(--white-color);
}

.home__button {
    position: absolute;
    bottom: 5rem;
    justify-self: center;
    color: var(--white-color);
    width: 94px;
    height: 94px;
    border: 2px solid var(--body-second-color);
    border-radius: 50%;
    display: grid;
    place-content: center;
    text-align: center;
    padding-top: 1rem;
    z-index: 5;
}

.home__button span {
    font-weight: var(--font-semi-bold);
}

.home__button i {
    font-size: 1.5rem;
}

.home__swiper {
    position: relative;
}

.home__img {
    width: 340px;
    margin-inline: auto;
}

.home__1img {
    width: 350px;
    margin-inline: auto;
    position: relative;
    top: 60px;
}

.home__2img {
    width: 440px;
    margin-inline: auto;
    position: relative;
    bottom: -10px;
}

.home__3img {
    width: 385px;
    margin-inline: auto;
}

/* Bagian Swiper */
.swiper {
    margin-inline: initial;
    align-self: center;
    margin-bottom: 1rem;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    height: max-content;
    top: 30rem;
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
}

.swiper-pagination-bullet {
    color: var(--white-color);
    opacity: 1;
    background: none;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    transition: color 0.4s;
}

.swiper-pagination-bullet-active {
    color: var(--body-second-color);
}

/* Tombol Detail */
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    background-color: var(--body-color);
    color: var(--white-color);
    padding: 0.75rem 2rem;
    font-weight: var(--font-semi-bold);
    box-shadow: 0 4px 12px hsla(0, 0%, 0%, 0.5);
}

.button i {
    font-weight: initial;
    font-size: 1.5rem;
    transition: transform 0.4s;
}

.button:hover i {
    transform: translateX(0.5rem);
}

.button__ghost {
    background-color: transparent;
    box-shadow: none;
    border: 2px solid var(--white-color);
    color: var(--white-color);
}

/* Bagian About */
.about {
    background-color: var(--first-color);
}

.about__container {
    padding-bottom: 3rem;
    row-gap: 3rem;
}

.about__title {
    color: var(--white-color);
    margin-bottom: 1rem;
}

.about__title span {
    color: var(--body-second-color);
}

.about__data {
    text-align: center;
}

.about__description {
    margin-bottom: 1.5rem;
    color: var(--white-color);
}

.about__video {
    position: relative;
    width: 180px;
    height: 320px;
    justify-self: center;
    box-shadow: var(--shadow-img);
    transform: skew(-12deg);
    display: grid;
    overflow: hidden;
}

.about__file {
    max-width: initial;
    height: 320px;
    position: absolute;
    justify-self: center;
}

/* Bagian Models */
.models__container {
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 2rem;
}

.models__card {
    position: relative;
    transform: skew(-9deg);
    box-shadow: var(--shadow-img);
}

.models__img {
    height: 450px;
}

.models__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 70%, hsla(0, 0%, 0%, )100%);
}

.models__data {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    color: var(--white-color);
    transform: skew(0deg);
}

.models__name {
    font-size: var(--h3-font-size);
    margin-bottom: 0.25rem;
    transition: transform 0.4s, opacity 0.4s;
}

.models__info {
    display: block;
    font-size: var(--small-font-size);
    transition: transform 0.4s 0.1s, opacity 0.4s 0.1s;
}

.models__name,
.models__info {
    transform: translateX(5rem);
    opacity: 0;
}

.models__card:hover :is(.models__name, .models__info) {
    transform: translateX(0);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.red__word {
    color: var(--first-color);
}

.darkblue__word {
    color: hsl(244, 73%, 23%);
}

.blue__word {
    color: var(--body-second-color);
}

/* Bagian Info */
.info__container {
    row-gap: 3.5rem;
    padding-bottom: 2.5rem;
}

.info__title {
    margin-bottom: 5.5rem;
}

.info__content {
    position: relative;
    display: grid;
}

.info__number {
    font-size: var(--biggest-font-size);
    color: var(--text-color-lighten);
    position: absolute;
    top: -3.5rem;
    justify-self: center;
}

.info__img {
    width: 450px;
    justify-self: center;
    z-index: 5;
}

.info__data {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.info__group h3 {
    font-size: var(--small-font-size);
    margin-bottom: 0.5rem;
    color: var(--white-color);
}

.info__group p {
    font-size: var(--smaller-font-size);
    color: var(--white-color);
}

/* Bagian Kontak */
.contact {
    background-color: var(--body-second-color);
}

.contact__container {
    row-gap: 3rem;
    padding-bottom: 2rem;
}

.contact__title {
    color: var(--white-color);
    margin-bottom: 4rem;
}

.contact__form {
    row-gap: 2rem;
}

.contact__inputs {
    row-gap: 2.5rem;
}

.contact__box {
    position: relative;
    width: 100%;
    height: 58px;
}

.contact__input {
    width: 100%;
    height: 100%;
    background-color: var(--body-second-color);
    border: 2px solid var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: 0.75rem;
    color: var(--white-color);
}

.contact__input::placeholder {
    color: var(--white-color);
}

.contact__label {
    position: absolute;
    top: -1.5rem;
    left: 0;
    color: var(--white-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
}

.contact__input:-webkit-autofill {
    transition: background-color 6000s, color 6000s;
}

.contact__button {
    cursor: pointer;
}

.contact__img {
    width: 320px;
    transform: skew(-12deg);
    justify-self: center;
    box-shadow: var(--shadow-img);
}

/* Bagian Footer */
.footer {
    background-color: var(--body-second-color);
}

.footer__container {
    row-gap: 3rem;
}

.footer__img {
    justify-self: center;
    width: 50%;
}

.footer__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}

.footer__link {
    color: var(--white-color);
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
}

.footer__social-link {
    color: var(--white-color);
    font-size: 1.5rem;
    transition: transform 0.4s;
}

.footer__social-link:hover {
    transform: translateY(-.25rem);
}

.footer__copy {
    display: block;
    margin-top: 6rem;
    color: var(--white-color);
    text-align: center;
    font-size: var(--normal-font-size);
}

/* -------- SCROLL BAR --------- */
::-webkit-scrollbar {
    width: 0.6rem;
    background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(244, 73%, 23%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(4, 100%, 32%);
}

/* -------- SCROLL UP --------- */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--white-color);
    box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.1);
    color: var(--black-color);
    display: inline-flex;
    padding: 6px;
    border-radius: 20px;
    border: 2px solid var(--black-color);
    font-size: 1.25rem;
    z-index: var(--z-tooltip);
    transition: bottom 0.4s, transform 0.4s;
}

.scrollup:hover {
    transform: translateY(-0.5rem);
}

.show-scroll {
    bottom: 3rem;
}

/* -------- BREAKPOINTS UNTUK PERANGKAT TERTENTU --------- */
/* Untuk perangkat kecil (HP) */
@media screen and (max-width: 320px) {
    .container {
        margin-inline: 1rem;
    }

    .home__title {
        font-size: 2rem;
    }

    .home__img {
        width: 270px;
    }

    .about__video {
        width: 200px;
        height: 250px;
    }

    .models__container {
        grid-template-columns: 200px;
    }

    .info__data {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }

    .footer__img {
        width: 200px;
    }

    .contact__img {
        width: 200px;
    }
}

/* Untuk perangkat sedang (Tablet) */
@media screen and (min-width: 576px) {

    .about__container,
    .contact__container {
        grid-template-columns: 400px;
        justify-content: center;
    }

    .footer__container {
        grid-template-columns: repeat(3, max-content);
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer__img {
        width: 140px;
    }

    .footer__social {
        position: relative;
        top: 14px;
    }
}

@media screen and (min-width: 768px) {
    .models__container {
        grid-template-columns: repeat(3, 200px);
    }

    .footer__links {
        position: relative;
        top: 19px;
        flex-direction: row;
        column-gap: 1rem;
    }
}

/* Untuk perangkat besar (Laptop & TV) */
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }

    .section {
        padding-block: 7rem 2rem;
    }

    .section__title {
        margin-bottom: 2rem;
    }

    .about__description {
        margin-bottom: 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 4rem;
    }

    .home {
        height: 830px;
    }

    .home__subtitle {
        font-size: var(--normal-font-size);
        letter-spacing: 3px;
    }

    .home__data {
        position: relative;
        top: 30px;
    }

    .home__img {
        position: relative;
        bottom: 100px;
        width: 590px;
    }

    .home__1img {
        position: relative;
        top: 0rem;
        width: 600px;
    }

    .home__2img {
        position: relative;
        bottom: 7rem;
        width: 750px;
    }

    .home__3img {
        position: relative;
        bottom: 6.5rem;
        width: 650px;
    }

    .home__button {
        bottom: 2rem;
    }

    .swiper {
        margin-block-start: 1rem 0;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        top: 36rem;
        column-gap: 2rem;
    }

    .about__container {
        grid-template-columns: 400px 450px;
        align-items: center;
        column-gap: 7rem;
        padding-bottom: 5rem;
    }

    .about__title,
    .about__data {
        text-align: initial;
    }

    .about__title {
        margin-bottom: 1rem;
    }

    .about__description {
        margin-bottom: 3.5rem;
    }

    .about__video {
        width: 350px;
        height: 510px;
    }

    .about__file {
        height: 580px;
    }

    .models__container {
        grid-template-columns: repeat(3, 280px);
        column-gap: 3rem;
    }

    .info__container {
        padding-bottom: 4rem;
    }

    .info__title {
        margin-bottom: 10rem;
    }

    .info__img {
        width: 800px;
    }

    .info__number {
        top: -8.5rem;
    }

    .info__data {
        column-gap: 4rem;
    }

    .info__group h3 {
        font-size: var(--h3-font-size);
    }

    .info__group p {
        font-size: var(--normal-font-size);
    }

    .contact__container {
        grid-template-columns: 450px 500px;
        align-items: center;
        column-gap: 8rem;
        padding-bottom: 4rem;
    }

    .contact__img {
        order: -1;
        width: 400px;
    }

    .contact__title {
        text-align: initial;
    }

    .contact__button {
        justify-self: flex-start;
    }

    .footer {
        padding-top: 3rem;
    }

    .footer__logo {
        font-size: var(--normal-font-size);
    }

    .footer__links {
        column-gap: 2rem;
    }

    .footer__social {
        column-gap: 1rem;
    }

    .scrollup {
        right: 3rem;
    }
}

/* Untuk perangkat super besar (Resolusi 2K) */
@media screen and (min-width: 2048px) {
    body {
        zoom: 1.4;
    }
}